.hero-card {
  width: 220px;
  height: 160px;
  border: 5px green solid;
  float: left;
}

.enemy-card {
  width: 220px;
  height: 160px;
  border: 5px black solid;
  float: left;
  background: red;
}

img {
  width: 90%;
  max-height: 110px; 
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

h2 {
  clear:  both;
}

h3 {
  padding: 5px;
  text-align: center;
}